# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
#/bin
.DS_Store
.project

iot-network/channel-artifacts/*.tx
iot-network/channel-artifacts/*.block
iot-network/channel-artifacts/org3.json
iot-network/crypto-config/*
iot-network/docker-compose-e2e.yaml
iot-network/docker-compose-cas.yaml
iot-network/ledgers
iot-network/ledgers-backup
iot-network/org3-artifacts/
iot-network/connection/org1/*
iot-network/connection/org2/*
iot-network/connection/ca-orderer.txt

iot-network/PeerAdmin@toan-network-org1.card
iot-network/PeerAdmin@toan-network-org2.card

base/*.1.yaml
base/*.2.yaml
*.1.yaml
*.2.yaml
chaincode-docker-devmode/myc.block
chaincode-docker-devmode/chaincode/sacc/sacc
#chaincode-docker-devmode/chaincode/chaincode_example02/chaincode_example02

